h4{
  text-align: center;
}
.signInModal p {
  color: #222222;
  text-align: center;
}
label, input {
  width: 90%;
  margin: 2%;

}
.modalButton {
  margin: 5%;
  width: 90%;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, .2);
}
.modalButton:hover {
  background-color: #2b2b2b;
  color: #efdbd6;
}
@media only screen and (min-width: 700px) {

  label, input {
    margin: 5px;

  }
  .modalButton {
    margin: 10px;
    width: 25%;
  }

}
